<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Mon accueil</title>
    <a href="/modifier_compte">Personnaliser ou modifier votre compte</a>
</head>

<h1>Bienvenue sur votre page d'accueil personnel, <%= id %></h1>

<% if (locals.img) { %>
    <img src="data:image/jpeg;base64,<%= img %>">
<% } %>

<body>
    <div>
        <h2>Mon application Vlille</h2>
    </div>
    <p>Voici les informations recueillies sur les stations <strong>Vlilles</strong> :</p>

    <div>
        <h2> Votre horoscope </h2>
        <p>Je sais tout, ton signe astrologique est : <%= astro %></p>
        <p>Voici votre astrologie du jour :</p>
        <p><%= texteAstro %></p>
    </div>

    <div>
        <h2>La météo chez vous</h2>
        <p> A <%= ville %> il fait actuellement <%= temperature %> degrés. </p>
        <p> Le vent souffle à une vitesse de <%= vitesse_vent %> km/h, et la température ressentie est de <%= ressenti %> degrès. </p>
        <p> Taux de precipitation : <%= precipitation %> mm </p>
        <p> Taux d'humidité dans l'air : <%= humidite %> % </p>
        <p> Couverture nuageuse : <%= couverture_nuageuse %> % </p>
        <p> Index UV : <%= index_UV %> </p>
        <p> Visibilité : <%= visibilite %> km </p>
    </div>

    <div>
        <h2>Les nouvelles du moment :</h2>
        <p>
        <strong><%= titre0 %></strong><br>
        <%= description0 %><br>
        Auteur : <%= auteur0 %><br>
        Pour en savoir plus : <a href=<%= URL0 %>><%= URL0 %></a>
        </p>

        <p>
        <strong><%= titre1 %></strong><br>
        <%= description1 %><br>
        Auteur : <%= auteur1 %><br>
        Pour en savoir plus : <a href=<%= URL1 %>><%= URL1 %></a>
        </p>

        <p>
        <strong><%= titre2 %></strong><br>
        <%= description2 %><br>
        Auteur : <%= auteur2 %><br>
        Pour en savoir plus : <a href=<%= URL2 %>><%= URL2 %></a>
        </p>

        <p>
        <strong><%= titre3 %></strong><br>
        <%= description3 %><br>
        Auteur : <%= auteur3 %><br>
        Pour en savoir plus : <a href=<%= URL3 %>><%= URL3 %></a>
        </p>

        <p>
        <strong><%= titre4 %></strong><br>
        <%= description4 %><br>
        Auteur : <%= auteur4 %><br>
        Pour en savoir plus : <a href=<%= URL4 %>><%= URL4 %></a>
        </p>
    </div>

    <div>
        <a href="/deconnexion">Déconnexion</a>
    </div>

</body>

</html>