<!DOCTYPE html>
<html lang="FR">
<head>

    <title>MayDay QPLT</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

</head>
<body>

<div id="covid">

    <div class="side-bar">
        <div class="tabs">
            <h2> <%= id %> </h2>
            <% if (locals.img) { %>
            <img src="data:image/jpeg;base64,<%=img %>" onclick="openProfile()" alt="">
            <% } %>
            <% if(!locals.img) { %>
                <img src="images/defaultProfilePic.png" onclick="openProfile()" alt="">
            <% } %>
            <div id="log-out" onclick="window.location.href='deconnexion';">DÉCONNEXION</div>
            <hr>
            <div onclick="openHome()">ACCUEIL</div>
            <div onclick="openWeather()">MÉTÉO</div>
            <div onclick="openTrends()">TENDANCES</div>
            <div onclick="openTransport()">TRANSPORTS</div>
            <div id="active" onclick="openCovid()">COVID-19</div>
        </div>
        <hr>
        <button id="mode-button" onclick="toggleMode()"></button>
    </div>

    <div class="social-buttons">
        <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
        <a href="https://twitter.com/home" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
        <a href="https://www.reddit.com/" class="fa fa-reddit"></a>
    </div>

    <div id="container-1">

        <div id="covidDivStats">
            <h2>Covid : Statistiques</h2>
            <h2>en <%=country %></h2>
            <div>
                <div>
                    <span class="fa fa-covid">&#xf0c0;</span>
                    <span id="nbr-case">Nombre de cas</span>
                    <span><%=cases %></span>
                </div>
                <div>
                    <span class="fa fa-covid">&#xf567;</span>
                    <span id="nbr-dead">Nombre de morts</span>
                    <span><%=deaths %></span>
                </div>
                <div>
                    <span class="fa fa-covid">&#xf48e;</span>
                    <span id="nbr-saved">Nombre de soignés</span>
                    <span><%=recovered %></span>
                </div>
                <div>
                    <span class="fa fa-covid">&#xf974;</span>
                    <span id="nbr-active-case">Nombre de cas actifs</span>
                    <span><%=active %></span>
                </div>
            </div>
        </div>

    </div>

    <div id="container-3">

        <div id="covidDivGraphs">
            <h2>Covid : Graphes</h2>
            <h2>Évolution des derniers jours</h2>
                <div> <canvas id="myChart"></canvas> </div>
                <div> <canvas id="myChart2"></canvas> </div>
                <div> <canvas id="myChart3"></canvas> </div>
        </div>

    </div>

</div>

<script>
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['J-5', 'J-4', 'J-3', 'J-2', 'J-1'],
            datasets: [{
                label: 'Nombre de cas',
                data: [<%=j_5_cases%>, <%=j_4_cases%>, <%=j_3_cases%>, <%=j_2_cases%>, <%=j_1_cases%>],
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
<script>
    var ctx = document.getElementById('myChart2');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['J-5', 'J-4', 'J-3', 'J-2', 'J-1'],
            datasets: [{
                label: 'Nombre de mort',
                data: [<%=j_5_deaths%>, <%=j_4_deaths%>, <%=j_3_deaths%>, <%=j_2_deaths%>, <%=j_1_deaths%>],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
<script>
    var ctx = document.getElementById('myChart3');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['J-5', 'J-4', 'J-3', 'J-2', 'J-1'],
            datasets: [{
                label: 'Nombre de soigné',
                data: [<%=j_5_recovered%>, <%=j_4_recovered%>, <%=j_3_recovered%>, <%=j_2_recovered%>, <%=j_1_recovered%>],
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(75, 192, 192, 0.2)'
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(75, 192, 192, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
<script src="https://kit.fontawesome.com/30f9fd1eba.js" crossorigin="anonymous"></script>
<script src="javascripts/app.js"></script>
</body>
</html>