<!DOCTYPE html>
<html lang="FR">
<head>

    <title>MayDay QPLT</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body onload="calendar()">

<div id="home">

    <div class="side-bar">
        <div class="tabs">
            <h2>Bienvenue, <%= id %> !</h2>
            <% if (locals.img) { %>
            <img src="data:image/jpeg;base64,<%=img %>" onclick="openProfile()" alt="">
            <% } %>
            <% if(!locals.img) { %>
                <img src="images/defaultProfilePic.png" onclick="openProfile()" alt="">
            <% } %>
            <div id="log-out" onclick="window.location.href='deconnexion';">DÉCONNEXION</div>
            <hr>
            <div class="active" onclick="openHome()">ACCUEIL</div>
            <div onclick="openWeather()">MÉTÉO</div>
            <div onclick="openTrends()">TENDANCES</div>
            <div onclick="openTransport()">TRANSPORTS</div>
            <div onclick="openCovid()">COVID-19</div>
        </div>
        <hr>
        <button id="mode-button" onclick="toggleMode()"></button>
    </div>

    <div class="social-buttons">
        <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
        <a href="https://twitter.com/home" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
        <a href="https://www.reddit.com/" class="fa fa-reddit"></a>
    </div>

    <div id="container-1">

        <div id="clock">
            <h2>Il est</h2>
            <div id="time">
                <div> <span id="hours">00</span> <span>HEURES</span> </div>
                <div> <span id="minutes">00</span> <span>MINUTES</span> </div>
                <div> <span id="seconds">00</span> <span>SECONDES</span> </div>
            </div>
        </div>

        <div id="horoscope">
            <h2>Horoscope</h2>
            <div>
                <p>Prévision du jour pour le signe du <%= astro %> : </p>
                <p><%= texteAstro %></p>
            </div>
        </div>

    </div>

    <div id="container-2">

        <div class="calendar">
            <div class="date">
                <h3>Juin</h3>
                <div class="days">
                    <div class="day">L</div>
                    <div class="day">M</div>
                    <div class="day">M</div>
                    <div class="day">J</div>
                    <div class="day">V</div>
                    <div class="day">S</div>
                    <div class="day">D</div>

                    <div class="number">1</div>
                    <div class="number">2</div>
                    <div class="number">3</div>
                    <div class="number">4</div>
                    <div class="number">5</div>
                    <div class="number">6</div>
                    <div class="number">7</div>
                    <div class="number">8</div>
                    <div class="number">9</div>
                    <div class="number">10</div>
                    <div class="number">11</div>
                    <div class="number">12</div>
                    <div class="number">13</div>
                    <div class="number">14</div>
                    <div class="number">15</div>
                    <div class="number">16</div>
                    <div class="number">17</div>
                    <div class="number">18</div>
                    <div class="number">19</div>
                    <div class="number active">20</div>
                    <div class="number">21</div>
                    <div class="number">22</div>
                    <div class="number">23</div>
                    <div class="number">24</div>
                    <div class="number">25</div>
                    <div class="number">26</div>
                    <div class="number">27</div>
                    <div class="number">28</div>
                    <div class="number">29</div>
                    <div class="number">30</div>
                </div>
            </div>
            <div class="image">
                <img src="images/calendarBg.png" alt="">
            </div>
        </div>

    </div>

    <div id="container-3">

        <div>
            <h2>Aperçu des tendances du moment</h2>
            <div>
                <p>
                    <strong><%= titre0 %></strong><br>
                    <%= description0 %><br>
                    Auteur : <%= auteur0 %><br>
                    <a href=<%= URL0 %>>En savoir plus</a>
                </p>
                <p>
                    <strong><%= titre1 %></strong><br>
                    <%= description1 %><br>
                    Auteur : <%= auteur1 %><br>
                    <a href=<%= URL1 %>>En savoir plus</a>
                </p>
            </div>
        </div>

    </div>

</div>

<script src="javascripts/app.js"></script>
<script>setInterval(clock, 1)</script>
</body>
</html>