<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Accueil</title>
</head>

<body>
    <% if (locals.User_surname) { %>
        <h2>Bonjour <%= User_surname %> !<h2>
    <% } %>
    <% if (!locals.User_surname) { %>
        <h2>Connectez-vous :)<h2>
	        <form action="/connexion" method="post">
                <input type="submit" id ="bouton_connexion" value="Connexion">
    	    </form>

	    <h2>Pas encore inscrit ?<h2>
		    <form action="/creer_compte" method="post">
			    <input type="submit" id ="bouton_creer_compte" value="Creer un compte">
		    </form>
    <% } %>

    <h2>Mon application Vlille</h2>

    <p>Voici les informations recueillies sur les stations <strong>Vlilles</strong> :</p>

    <form method="post">

        <p>
            <label for="nomStation">Votre nom de station</label> :
            <input type="text" id="input" name="input_nomStation" value="" required>
            <input type="submit" id="bouton" value="Valider">
        </p>

    </form>

    <% if (locals.nomStation) { %>

        <div id="station">
            <p>
                Le nom de la station est <%= nomStation %> . <br>
                Cette station est <%= etatStation %> . <br>
                Il y a <%= nbVeloDispo %>  vélos disponible(s) . <br>
                Il y a <%= nbPlaceDispo %> places disponible(s) . <br>
            </p>
        </div>
    <% } %>

    <% if (locals.erreur_nomStation) { %>
        <div id="erreur_nomStation">
            <%= erreur_nomStation %>
        </div>
    <% } %>

    <script src="D:\Documents\CSI 3\Projets\ProjetFinAnnee\QPLT\ajax.js"></script>
    <script src="D:\Documents\CSI 3\Projets\ProjetFinAnnee\QPLT\monfichier.js"></script>
</body>

</html>