<!DOCTYPE html>
<html lang="FR">
<head>

    <title>MayDay QPLT</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div>

    <div class="side-bar">
        <div class="tabs">
            <h2><%=id %></h2>
            <% if (locals.img) { %>
            <img src="data:image/jpeg;base64,<%=img %>" onclick="openProfile()" alt="">
            <% } %>
            <% if(!locals.img) { %>
                <img src="images/defaultProfilePic.png" onclick="openProfile()" alt="">
            <% } %>
            <div id="log-out" onclick="window.location.href='deconnexion';">DÉCONNEXION</div>
            <hr>
            <div onclick="openHome()">ACCUEIL</div>
            <div onclick="openWeather()">MÉTÉO</div>
            <div onclick="openTrends()">TENDANCES</div>
            <div id="active" onclick="openTransport()">TRANSPORTS</div>
            <div onclick="openCovid()">COVID-19</div>
        </div>
        <hr>
        <button id="mode-button" onclick="toggleMode()"></button>
    </div>

    <div class="social-buttons">
        <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
        <a href="https://twitter.com/home" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
        <a href="https://www.reddit.com/" class="fa fa-reddit"></a>
    </div>

    <div id="container-1">

        <div>
            <h2>Application V'Lille</h2>
            <div>
                Voici les informations recueillies sur les stations <strong>Vlilles</strong>
                <% if (typeof(locals.stationFav) != 'undefined') { %>
                    <h3> Votre station favorite :</h3>
                    <div id="stationFav">
                        <p>
                            <%= stationFav %><br>
                            Cette station est <%= locals.etatStationFav %> . <br>
                            Il y a <%= locals.nbVeloDispoFav %>  vélos disponible(s) . <br>
                            Il y a <%= locals.nbPlaceDispoFav %> places disponible(s) . <br>
                        </p>
                    </div>
                <% }else { %>
                    <div> Vous n'avez pas de station favorite enregistrée, vous pouvez l'ajouter sur la page de modification et personnalisation du compte </div>
                <% } %>
            </div>
        </div>

    </div>

    <div id="container-3">

        <form method="post">
            <div>
                <label>
                    <input type="text" id="inputNomStation" name="inputNomStation" placeholder="Nom de station" required>
                </label>
                <input type="submit" value="Valider">
            </div>
        </form>

        <% if (locals.nomStation) { %>

            <div id="station">
                <div>
                    <%= nomStation %><br>
                    Cette station est <%= etatStation %> . <br>
                    Il y a <%= nbVeloDispo %>  vélos disponible(s) . <br>
                    Il y a <%= nbPlaceDispo %> places disponible(s) . <br>
                </div>
            </div>
        <% } %>

        <% if (locals.erreurNomStation) { %>
            <div id="erreurNomStation">
                <%= erreurNomStation %>
            </div>
        <% } %>

    </div>

</div>

<script src="https://kit.fontawesome.com/30f9fd1eba.js" crossorigin="anonymous"></script>
<script src="javascripts/app.js"></script>
</body>
</html>