<!DOCTYPE html>
<html lang="FR">
<head>

    <title>MayDay QPLT</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div id="trends">

    <div class="side-bar">
        <div class="tabs">
            <h2><%=id %></h2>
            <% if (locals.img) { %>
            <img src="data:image/jpeg;base64,<%=img %>" onclick="openProfile()" alt="">
            <% } %>
            <% if(!locals.img) { %>
                <img src="images/defaultProfilePic.png" onclick="openProfile()" alt="">
            <% } %>
            <div id="log-out" onclick="window.location.href='deconnexion';">LOG OUT</div>
            <hr>
            <div onclick="openHome()">HOME</div>
            <div onclick="openWeather()">WEATHER</div>
            <div class="active" onclick="openTrends()">TRENDS</div>
            <div onclick="openTransport()">PUBLIC TRANSPORT</div>
            <div onclick="openCovid()">COVID-19</div>
        </div>
        <hr>
        <button id="mode-button" onclick="toggleMode()"></button>
    </div>

    <div class="social-buttons">
        <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
        <a href="https://twitter.com/home" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
        <a href="https://www.reddit.com/" class="fa fa-reddit"></a>
    </div>

    <div id="container-1">

        <div id="trendsDiv">
            <h2>Les tendances du moment :</h2>
            <div>
                <p>
                    <strong><%= titre0 %></strong><br>
                    <%= description0 %><br>
                    Auteur : <%= auteur0 %><br>
                    <a href=<%= URL0 %>>En savoir plus</a>
                </p>
                <p>
                    <strong><%= titre1 %></strong><br>
                    <%= description1 %><br>
                    Auteur : <%= auteur1 %><br>
                    <a href=<%= URL1 %>>En savoir plus</a>
                </p>
                <p>
                    <strong><%= titre2 %></strong><br>
                    <%= description2 %><br>
                    Auteur : <%= auteur2 %><br>
                    <a href=<%= URL2 %>>En savoir plus</a>
                </p>
                <p>
                    <strong><%= titre3 %></strong><br>
                    <%= description3 %><br>
                    Auteur : <%= auteur3 %><br>
                    <a href=<%= URL3 %>>En savoir plus</a>
                </p>
                <p>
                    <strong><%= titre4 %></strong><br>
                    <%= description4 %><br>
                    Auteur : <%= auteur4 %><br>
                    <a href=<%= URL4 %>>En savoir plus</a>
                </p>
            </div>
        </div>

    </div>
</div>

<script src="javascripts/app.js"></script>
</body>
</html>