<!DOCTYPE html>
<html lang="FR">
<head>

    <title>MayDay QPLT</title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body onload="changeWeatherIcons()">

<div id="weather">

    <div class="side-bar">
        <div class="tabs">
            <h2><%=id %></h2>
            <% if (locals.img) { %>
            <img src="data:image/jpeg;base64,<%=img %>" onclick="openProfile()" alt="">
            <% } %>
            <% if(!locals.img) { %>
                <img src="images/defaultProfilePic.png" onclick="openProfile()" alt="">
            <% } %>
            <div id="log-out" onclick="window.location.href='deconnexion';">DÉCONNEXION</div>
            <hr>
            <div onclick="openHome()">ACCUEIL</div>
            <div id="active" onclick="openWeather()">MÉTÉO</div>
            <div onclick="openTrends()">TENDANCES</div>
            <div onclick="openTransport()">TRANSPORTS</div>
            <div onclick="openCovid()">COVID-19</div>
        </div>
        <hr>
        <button id="mode-button" onclick="toggleMode()"></button>
    </div>

    <div class="social-buttons">
        <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
        <a href="https://twitter.com/home" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
        <a href="https://www.reddit.com/" class="fa fa-reddit"></a>
    </div>

    <div id="container-1">

        <label>
            <input id="hideValueGetter" type="hidden" name="temperature"
                   value="<%=temperature %>"/>
        </label>
        <label>
            <input id="hideValueGetter2" type="hidden" name="ressentie"
                   value="<%=ressenti %>"/>
        </label>

        <div id="weatherDiv">
            <h2>La météo à <%=ville %></h2>
            <div>
                <div>
                    <span class="fa fa-weather" id="thermo"></span>
                    <span>Température</span>
                    <span><%=temperature %> degrès</span>
                </div>
                <div>
                    <span class="fa fa-weather" id="thermo-feel"></span>
                    <span>T° ressentie</span>
                    <span><%=ressenti %> degrès</span>
                </div>
                <div>
                    <span class="fa fa-weather">&#xf72e;</span>
                    <span>Vitesse du vent</span>
                    <span><%=vitesse_vent %> km/h</span>
                </div>
                <div>
                    <span class="fa fa-weather">&#xf740;</span>
                    <span>Taux de précipitation</span>
                    <span><%=precipitation %> mm</span>
                </div>
                <div>
                    <span class="fa fa-weather">&#xf043;</span>
                    <span>Taux d'humidité dans l'air</span>
                    <span><%=humidite %> %</span>
                </div>
                <div>
                    <span class="fa fa-weather">&#xf0c2;</span>
                    <span>Couverture nuageuse</span>
                    <span><%=couverture_nuageuse %> %</span>
                </div>
                <div>
                    <span class="fa fa-weather">&#xf185;</span>
                    <span>Indice UV</span>
                    <span><%=index_UV %></span>
                </div>
                <div>
                    <span class="fa fa-weather">&#xf75f;</span>
                    <span>Visibilité</span>
                    <span><%=visibilite %> km</span>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://kit.fontawesome.com/30f9fd1eba.js" crossorigin="anonymous"></script>
<script src="javascripts/app.js"></script>
</body>
</html>